<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="keyword" content="">
		<!--设置标题上的小图标  16*16像素的图片-->
		<link rel="shortcut icon" href="${basePath}/imgs/icon.jpg">
		<title>程程有小棉被啊 | Blog</title>
		<#include "commons/header.html" />
		<link rel="stylesheet" href="${basePath}/css/pages.css">
		<style type="text/css">
			header.intro-header {
				background-image: url('${basePath}/imgs/004.jpg')
			}
		</style>
	</head>
	<body >
		<!--头部-->
		<#include "index/header.html" />

		<!--导航-->
		<#include "index/nav.html" />

		<!--内容-->
		<#include "index/content.html" />

		<!--引入公共JS-->
		<#include "commons/js.html"/>

		<!-- 底部 -->
		<#include "commons/footer.html"/>


		<a id="rocket" href="#top" class=""></a>
		<!--<img src="http://www.huweihuang.com/img/icon_wechat.png" width="0" height="0">-->
		<!--注意js 的顺序-->
		<script src="${bathPath}/js/vue-nav.js"></script>
		<script src="${bathPath}/js/index.js"></script>





	</body>
</html>