<div class="container" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div id="myContent" class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 post-container ">

            <div  class="post-preview" v-for="(blog,index) in blogs" :key="index">
                <a target="_blank"  :href="'${bathPath}/blogdetail/'+ blog.id"><!-- a标签中 target属性设置 为  新页面打开 -->
                    <h2 class="post-title">
                       {{index + 1}} [{{blog.categoryName}}] {{blog.title}}
                    </h2>
                    <h3 class="post-subtitle">
                    </h3>
                    <div class="post-content-preview">
                        <!--{{blog.description}}-->
                        <span v-html ="blog.description"></span>
                         ​　　
                    </div>
                </a>
                <p class="post-meta" style="margin: 10px 0;">
                    Posted by 程程有小棉被啊 on
                    {{blog.createTime | formatDate("yyyy-MM-dd hh:mm:ss")}} <!--Vue 日期格式化-->
                </p>
                <div class="tags">
                    <a v-bind:href="'/tags/#'+blog.categoryName" v-bind:title="blog.categoryName">{{blog.categoryName}}</a>
                </div>
            </div>

            <hr>
            <!--分页-->
            <!--使用vue pagination 分页插件-->
            <div id="myPage">
                <vue-nav v-bind:cur="pageNum" v-bind:all="pages" v-bind:callback="callback"></vue-nav>
            </div>



            <!-- 如果开启评论功能 -->
        </div>
        <!-- Sidebar Container -->
        <div id="myTags" class=" col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container">

            <!-- Featured Tags -->

            <section>
                <!-- no hr -->
                <h5><a href="/tags/">FEATURED TAGS</a></h5>
                <div class="tags" v-for="(mytag,index) in mytags" :key="index">
                    <a href="'/tags/#'+ mytag.tagName" title="mytag.tagName" rel="'1' + mytag.tagId">{{mytag.tagName}}</a>
                </div>
            </section>

            <hr>

            <!-- Short About -->
            <section class="visible-md visible-lg">
                <h5><a href="/about/">ABOUT ME</a></h5>
                <div class="short-about">
                    <p>I miss you but I missed you</p>
                    <!-- SNS Link -->
                    <!--<ul class="list-inline">
                        <li>
                            <a target="_blank" href="https://twitter.com/huweihuang">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                        </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/huweihuang0">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                        </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/huweihuang">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                        </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.linkedin.com/in/huweihuang">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                        </span>
                            </a>
                        </li>

                    </ul>-->
                </div>
            </section>
            <hr>
            <h5>RECENT POSTS</h5>
            <div class="widget">
                <ul>
                    <li>
                        <a href="/article/essay/something-has-to-be-written/">[随笔] 总得写点什么</a>
                    </li>

                    <li>
                        <a href="/article/essay/sky-and-well/">[随笔] 坐井观天</a>
                    </li>

                    <li>
                        <a href="/article/source-analysis/kubelet/kubelet-run/">[源码分析] kubelet源码分析（二）之 kubelet的运行</a>
                    </li>

                    <li>
                        <a href="/article/source-analysis/kubelet/kubelet-cmd/">[源码分析] kubelet源码分析（一）之
                            NewKubeletCommand</a>
                    </li>

                    <li>
                        <a href="/article/ethereum/ethereum-introduction/">[Ethereum] 以太坊系列（一）之以太坊介绍</a>
                    </li>

                </ul>
            </div>
            <hr>
            <!-- Friends Blog -->
            <h5>FRIENDS</h5>
            <ul class="list-inline">


                <li><a href="http://blog.csdn.net/huwh_" target="_blank">CSDN Blog 程程有小棉被啊</a></li>

                <li><a href="https://www.huweihuang.com/kubernetes-notes" target="_blank">Kubernetes 学习笔记</a></li>

                <li><a href="https://www.huweihuang.com/golang-notes" target="_blank">Golang 学习笔记</a></li>

                <li><a href="http://huweihuang.net/" target="_blank">huweihuang.net</a></li>

                <li><a href="http://dockone.io/people/程程有小棉被啊" target="_blank">DockOne 程程有小棉被啊</a></li>

                <li><a href="https://yq.aliyun.com/u/huweihuang" target="_blank">阿里云栖社区 程程有小棉被啊</a></li>

            </ul>

            <hr>


            <h5>ARCHIVES</h5>
            <div class="widget">
                <ul class="archive-list">
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2018/10/">October
                        2018</a><span class="archive-list-count">4</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2018/08/">August 2018</a><span
                            class="archive-list-count">2</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2018/07/">July
                        2018</a><span class="archive-list-count">1</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2018/06/">June
                        2018</a><span class="archive-list-count">10</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2018/05/">May
                        2018</a><span class="archive-list-count">3</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2018/04/">April
                        2018</a><span class="archive-list-count">3</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2018/03/">March
                        2018</a><span class="archive-list-count">1</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2018/01/">January
                        2018</a><span class="archive-list-count">1</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/12/">December
                        2017</a><span class="archive-list-count">1</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/09/">September
                        2017</a><span class="archive-list-count">21</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/08/">August 2017</a><span
                            class="archive-list-count">11</span></li>
                    <li class="archive-list-item"><a class="archive-list-link" href="/archives/2017/07/">July
                        2017</a><span class="archive-list-count">11</span></li>
                </ul>
            </div>

            <hr>

        </div>


    </div>
</div>
