<header class="intro-header">
    <div id="signature">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2 style="color:#48fffa;">程程有小棉被啊</h2>
                        <h3 style="color:#48fffa;">I miss U.But I missed U</h3>
                        <!--<span class="subheading">个人博客</span>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>