<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color:#48fffa;">程程有小棉被啊</a>
        </div>
        <div id="huxblog_navbar">
            <div class="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/" style="color:#fcff3c;">Home</a>
                    </li>
                    <li>
                        <a href="/about/" style="color:#fcff3c;">About</a>
                    </li>
                    <li>
                        <a href="/archive/" style="color:#fcff3c;">Archives</a>
                    </li>
                    <li>
                        <a href="/tags/" style="color:#fcff3c;">Tags</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>